body {
    background-color: rgb(50, 20, 47);
    margin: 0;
}

#container {
    min-height: 100vh;
    text-align: center;
    align-content: center;
}

#canvas {
    height: 900px;

    /* Nearest filtering */
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}